/* Background */
body {
	background: #F5F5F5;
}

* {
	box-sizing: border-box;
}

/* Header */
header {
	height: 100px;
}

.companyname {
	font-weight: bold;
}

.navbar {
	height: 100px;
	position: relative;
}

/* Resolutions card */
#resolutioncard {
	top: 5%;
	background: white;
	border-radius: 30px;
	height: 260px!important;
	margin: 2px;
}


/* Text in Resolutions Card */
.cardtitle {
	width: 187px;
	height: 31.74px;
	left: 3%;
	top: 8%;
	position: relative;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;

	color: #000000;
}


.resolutionmenu {
	top: 6%;
	left: 4%;
	position: relative;

}


/* My Plans Card */

.myplanscard {
	height: 260px;
	float: right;
	top: 5%;
	background: white;
	border-radius: 30px;
	display: inline-block;

}



/* 2022 box */


position: absolute;
width: 65.14px;
height: 24.53px;
left: 1069.01px;
top: 210.25px;

/* 2022 */


position: absolute;
width: 58.31px;
height: 24.53px;
left: 1069.01px;
top: 210.25px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Secondary Text */

color: #858585;


/* My Progress Card */
.myprogresscard {
	height: 256px;
	top: 700px;
	background: white;
	border-radius: 30px;
}



/* My Progress Text */

position: absolute;
width: 117px;
height: 22px;
left: 420px;
top: 718px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;


/* Schedules Card */

.myschedulecard{
	width: 480px;
	height: 256px;
	left: 900px;
	top: 688px;
	background: white;
	border-radius: 30px;

}

/********** Large devices only **********/
@media (min-width: 992px) {
	 .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	 	border: 1px black;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  	border: 1px black;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}


/********** Small devices only **********/
@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
		border: 1px black; 
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

